<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1, October 22nd</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am to 1:30 pm</td>        <!-- time    -->
        <td><a href="https://github.com/carpentries-incubator/SDC-BIDS-IntroMRI">Introduction to working with MRI data and BIDS with Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2, October 29th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am to 1:30 pm</td>        <!-- time    -->
        <td><a href="https://github.com/carpentries-incubator/SDC-BIDS-sMRI">Structural neuro-imaging analysis in Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3, November 5th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am to 1:30 pm</td>        <!-- time    -->
        <td><a href="https://github.com/carpentries-incubator/SDC-BIDS-dMRI">dMRI analysis in Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 4, November 12th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00 am to 1:30 pm</td>        <!-- time    -->
        <td><a href="https://github.com/carpentries-incubator/SDC-BIDS-fMRI">Resting-state analysis in Python</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 5, November 19</h3>
    <table class="table table-striped">
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-BIDS-EEG-EEGLAB/setup.html">Setup</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-BIDS-EEG-EEGLAB/01-intro_BIDS_EEG/index.html">Introduction to EEG-BIDS</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-BIDS-EEG-EEGLAB/02-data_property/index.html">Matlab: need to knows</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-BIDS-EEG-EEGLAB/03-BIDS_init_EEG_EEGLAB/index.html">Initializing data into BIDS</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-EEGLAB/03-data_structures/index.html">The EEG structure elements</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-EEGLAB/04-processing/index.html">Basic ERP processing</a>
        </td>
      </tr>
      <tr>
        <td>11:00 am to 1:30 pm</td>
        <td><a href="https://carpentries-incubator.github.io/SDC-EEGLAB/05-scripting/index.html">Scripting from the history</a>
        </td>
      </tr>      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
